@import "../style/puzzle.css";

.creator-text {
  color: var(--gray);
  font-size: 0.875rem;
}

.game-controls {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.game-controls > p {
  font-size: 0.875rem;
  margin-block: 0.25rem;
  text-align: center;
}

.draggables {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.25rem;
  max-width: 27rem;
}

[draggable="true"] {
  background-color: white;
  border-color: var(--dark);
  border-style: solid;
  cursor: grab;
  font-size: 0.875rem;
}
.dropzone.dragover {
  background-color: rgba(255, 255, 255, 0.7);
}

.guesses-text {
  margin-block: 0.5rem;
  text-align: center;
}

.hints-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-block-start: 2rem;
  max-width: 65ch;
  text-align: center;
}

.previous-game-container {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin-block-start: 5rem;
  max-width: 30rem;
}

.previous-game-container p {
  color: var(--gray);
  font-size: 0.875rem;
}

.game-summary {
  margin-block-start: 3rem;
}

.game-summary > div {
  margin: 0.5rem auto 0;
  width: fit-content;
}

.home-button {
  margin: 0 auto 1.25rem -0.25rem;
}

main :not(.circle-container *) {
  animation: fadeIn 300ms forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
