h2 {
  margin-block: 0;
}

h3 {
  font-size: var(--h3);
  margin-block: 0 0.5rem;
  text-align: center;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-block-start: 2rem;
  width: 100%;
}

.stats-summary {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
  max-width: 20rem;
}

.stats-summary li {
  background-color: color-mix(in oklab, var(--gray) 20%, transparent);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: 0.75rem 0.5rem;
  text-align: center;
  width: 6.25rem;
}

.stats-summary li strong {
  font-size: 1.25rem;
}

.distribution {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 20rem;
  opacity: 0;
  transform: translateY(20px);
  transition:
    opacity 0.5s ease-out,
    transform 0.5s ease-out;
  width: 100%;
}

.distribution.visible {
  opacity: 1;
  transform: translateY(0);
}

.bar {
  align-items: center;
  display: flex;
  gap: 0.25rem;
}

.bar span {
  text-align: center;
  width: 1.5rem;
}

.bar-fill {
  background: var(--bg-blue);
  border-radius: 0.25rem;
  color: var(--light);
  font-size: 0.875rem;
  min-width: 1.5rem;
  padding: 0.25rem 0.5rem;
  text-align: right;
  transition: width 1s ease-out;
}
