@import "../style/puzzle.css";

body[data-route="home"] .creator-text {
  color: var(--gray);
  font-size: 0.875rem;
}

body[data-route="home"] .game-controls {
  align-items: center;
  display: flex;
  flex-direction: column;
}

body[data-route="home"] .game-controls > p {
  font-size: 0.875rem;
  margin-block: 0.25rem;
  text-align: center;
}

body[data-route="home"] .draggables {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.25rem;
  max-width: 27rem;
}

body[data-route="home"] [draggable="true"] {
  background-color: white;
  border-color: var(--dark);
  border-style: solid;
  cursor: grab;
  font-size: 0.875rem;
}

body[data-route="home"] .dropzone.dragover {
  background-color: rgba(255, 255, 255, 0.7);
}

body[data-route="home"] .reset-button {
  color: var(--red);
  margin-block-start: 0.5rem;
}

body[data-route="home"] .guesses-text {
  margin-block: 0.5rem;
  text-align: center;
}

body[data-route="home"] .hints-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-block-start: 1.25rem;
  max-width: 65ch;
  text-align: center;
}

body[data-route="home"] .previous-game-container {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin-block-start: 3rem;
  max-width: 30rem;
  width: 100%;
}

body[data-route="home"] .previous-game-container p {
  color: var(--gray);
  font-size: 0.875rem;
}

body[data-route="home"] .game-summary {
  margin-block-start: 3rem;
}

body[data-route="home"] .game-summary > div {
  margin: 0.5rem auto 0;
  width: fit-content;
}

body[data-route="home"] .home-button {
  margin: -1rem auto 0.5rem -0.25rem;
}

body[data-route="home"] dialog {
  border-radius: 1rem;
  border-style: solid;
  margin: 20vh auto;
  padding: 0;
  text-align: left;
  width: min(calc(100vw - 2.5rem), 30rem);
}

body[data-route="home"] dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.8);
}

body[data-route="home"] dialog,
body[data-route="home"] dialog > div {
  border-radius: 1rem;
}

body[data-route="home"] dialog > div {
  padding: 1.25rem;
}

body[data-route="home"] dialog h1 {
  font-size: 1.125rem;
  margin-block-end: 0.5rem;
}

body[data-route="home"] .dialog-cta-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem 1.25rem;
  justify-content: flex-end;
  margin-block-start: 0.5rem;
}

body[data-route="home"] .dialog-cta-container > a {
  padding: 0.75rem;
}

body[data-route="home"] .red-text {
  color: var(--red);
}

body[data-route="home"]
  main
  :not(:where(.circle-container *, .previous-game-container *)) {
  animation: fadeIn 300ms forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (prefers-reduced-motion: reduce) {
  body[data-route="home"]
    main
    :not(:where(.circle-container *, .previous-game-container *)) {
    animation: none;
  }
}
