:root {
  --blue: #1d4ed8;
  --circle-a: #eab308;
  --circle-b: #3b82f6;
  --circle-c: #ef4444;
  --dark: #121212;
  --gray: #374151;
  --light: #fefefe;
  --slate: #334155;

  --bg: var(--light);
  --fg: var(--dark);
}

:root:has(body.dark) {
  --blue: #60a5fa;
  --gray: #d1d5db;
  --slate: #cbd5e1;

  --bg: var(--dark);
  --fg: var(--light);
}

* {
  border-color: var(--slate);
  border-width: 1px;
  box-sizing: border-box;
}

html {
  background-color: var(--bg);
  color: var(--fg);
}

html:has(dialog[open]) {
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  justify-content: space-between;
  margin: 0;
  min-height: 100vh;
  padding: 1.25rem;
  text-align: center;
  transition:
    background-color 250ms ease-in-out,
    color 500ms ease-in-out;
}

body.dark {
  color-scheme: dark;
}

body :not(:where(main, footer, .circle-container, .circle)) {
  animation: fadeIn 2s forwards;
}

body.loaded :not(:where(main, footer, .circle-container, .circle)) {
  animation-duration: 250ms;
}

header {
  align-items: center;
  display: flex;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  justify-content: center;
  margin: auto auto 0;
  max-width: 65ch;
  padding-block-start: 1.25rem;
}

h1,
h2,
p {
  margin: 0;
}

h1,
h2 {
  font-weight: bold;
  letter-spacing: 1px;
  text-wrap: balance;
}

h1 {
  font-size: clamp(1.5rem, 6.25vmin, 3rem);
}

h2 {
  font-size: clamp(1.25rem, 5vmin, 2.5rem);
  margin-block: -1.25rem 2rem;
}

p {
  line-height: 1.6;
  text-wrap: pretty;
}

a,
button {
  align-items: center;
  color: inherit;
  display: inline-flex;
  justify-content: center;
  min-height: 2rem;
  min-width: 2rem;
}

a {
  color: var(--blue);
}

button {
  border: none;
  background: inherit;
  cursor: pointer;
  font-size: inherit;
}

label {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  font-size: 0.875rem;
  width: min(100%, 30rem);
}

input,
select {
  background-color: inherit;
  border-radius: 0.5rem;
  color: inherit;
  font-size: 1rem;
  padding: 0.5rem;
  max-width: 65ch;
  width: 100%;
}

select {
  cursor: pointer;
}

dialog {
  border-radius: 1rem;
  border-style: solid;
  margin: 20vh auto;
  padding: 0;
  width: min(calc(100vw - 2.5rem), 20rem);
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.8);
}

dialog > div {
  padding: 1.25rem;
}

dialog h1 {
  font-size: 1.125rem;
  text-align: left;
}

.btn {
  background-color: #1d4ed8;
  border-radius: 0.5rem;
  color: var(--light);
  font-size: 1.0675rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  padding: 0.75rem 1rem;
}

.creator-text {
  color: var(--gray);
  font-size: 0.875rem;
  margin-block-start: -1.25rem;
}

.circle-container {
  height: 22.5rem;
  position: relative;
  width: 22.5rem;
}

.circle {
  animation: slideIn 500ms forwards;
  border-radius: 100%;
  height: 16rem;
  opacity: 50%;
  position: absolute;
  width: 16rem;
}

.circle-a {
  animation-delay: 250ms;
  background-color: var(--circle-a);
  left: 0;
  top: 0;
  transform: translate(-100vw, 0);
}

.circle-b {
  animation-delay: 500ms;
  background-color: var(--circle-b);
  right: 0;
  top: 0;
  transform: translate(100vw, 0);
}

.circle-c {
  animation-delay: 750ms;
  background-color: var(--circle-c);
  bottom: 0;
  left: 3.25rem;
  transform: translate(0, 100vh);
}

.circle-title {
  border-radius: 1.5rem;
  color: var(--dark);
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.2;
  padding: 0.5rem;
  position: absolute;
  text-align: center;
  width: 10rem;
}

.circle-title-a {
  background-color: var(--circle-a);
  left: 0;
  top: -1.25rem;
}

.circle-title-b {
  background-color: var(--circle-b);
  right: 0;
  top: -1.25rem;
}

.circle-title-c {
  background-color: var(--circle-c);
  bottom: -1.25rem;
  left: 6.25rem;
}

.instruction-text {
  font-size: 0.875rem;
  margin-block: -1rem;
  text-align: center;
}

.draggable-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.25rem;
  max-width: 27rem;
}

[draggable="true"],
.dropzone {
  align-items: center;
  border-radius: 2rem;
  color: var(--dark);
  display: flex;
  height: 4rem;
  justify-content: center;
  padding-inline: 0.5rem;
  text-align: center;
  width: 6.5rem;
}

[draggable="true"] {
  background-color: white;
  border-color: var(--dark);
  border-style: solid;
  cursor: grab;
  font-size: 0.875rem;
}

.dropzone {
  position: absolute;
}

.dropzone.dragover {
  background-color: rgba(255, 255, 255, 0.7);
}

.dropzone-a {
  left: 0.25rem;
  top: 4.25rem;
}

.dropzone-ab {
  left: 8rem;
  top: 2.5rem;
}

.dropzone-abc {
  left: 8rem;
  top: 8rem;
}

.dropzone-ac {
  left: 2.5rem;
  top: 11.5rem;
}

.dropzone-b {
  right: 0.25rem;
  top: 4.25rem;
}

.dropzone-bc {
  right: 2.5rem;
  top: 11.5rem;
}

.dropzone-c {
  bottom: 2.5rem;
  left: 8rem;
}

.guesses-text {
  margin-block-start: -1.25rem;
  text-align: center;
}

.hints-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-block-start: 0.5rem;
  max-width: 65ch;
}

.hints-container button {
  color: var(--blue);
}

.previous-game-container {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  margin-block: 5rem;
  max-width: 30rem;
}

.previous-game-container p {
  color: var(--gray);
  font-size: 0.875rem;
}

.game-summary {
  margin-block-start: 2rem;
}

.home-button {
  color: var(--blue);
}

.how-to-play {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-block: 5rem 2rem;
  max-width: 65ch;
}

.how-to-play strong {
  font-size: 1.25rem;
}

.how-to-play p {
  text-align: left;
  width: min(calc(100vw - 2.5rem), 100%);
}

.how-to-play .circle-container {
  margin-block: 1rem 2rem;
  text-align: center;
}

.how-to-play .circle {
  animation-delay: 0ms;
  animation-duration: 0ms;
}

.certificate-canvas-container {
  aspect-ratio: 3 / 4;
  border-style: solid;
  height: auto;
  max-width: min(calc(100vw - 2.5rem), 30rem);
  margin-block-start: 1.25rem;
  width: 100%;
}

.certificate-canvas-container canvas {
  display: block;
  height: 100%;
  object-fit: contain;
  width: 100%;
}

.dark .certificate-canvas-container {
  border-style: none;
}

.certificate-dialog > div {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.dialog-button-container {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;
  margin-block-start: 0.5rem;
}

.theme-toggle-container {
  display: flex;
  font-size: 1.5rem;
  gap: 1.25rem;
  margin-block: 5rem 0.5rem;
}

.toast {
  background-color: var(--fg);
  border-radius: 0.5rem;
  border-style: solid;
  bottom: -10rem;
  color: var(--bg);
  line-height: 1.3;
  max-width: 20rem;
  padding: 0.75rem 1.25rem;
  position: fixed;
  right: 1.25rem;
  transition-duration: 250ms;
  transition-property: bottom, right;
  transition-timing-function: cubic-bezier(0.75, -0.75, 0.25, 1.5);
  z-index: 10;
}

.toast.enter {
  bottom: 1.25rem;
}

.toast.exit {
  right: -20rem;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  to {
    transform: translate(0);
  }
}

@media not all and (min-width: 400px) {
  html {
    font-size: 14px;
  }

  body {
    text-align: left;
  }

  h1,
  h2,
  p {
    width: 100%;
  }

  dialog {
    margin: 1.25rem auto;
  }
}

@media (min-width: 800px) and (min-height: 800px) {
  html {
    font-size: 18px;
  }
}
