:root {
  --blue: #1d4ed8;
  --circle-a: #eab308;
  --circle-b: #3b82f6;
  --circle-c: #ef4444;
  --dark: #121212;
  --gray: #374151;
  --light: #fefefe;
  --red: #b91c1c;
  --slate: #334155;

  --bg-blue: #1d4ed8;
  --bg: var(--light);
  --fg: var(--dark);

  --htm-border: var(--slate);

  --h1: clamp(1.5rem, 6.25vmin, 2rem);
  --h2: clamp(1.375rem, 5vmin, 1.75rem);
  --h3: clamp(1.25rem, 4vmin, 1.5rem);
}

:root:has(body.dark) {
  --blue: #60a5fa;
  --gray: #d1d5db;
  --red: #ef4444;
  --slate: #cbd5e1;

  --bg: var(--dark);
  --fg: var(--light);
}

* {
  border-color: var(--slate);
  border-width: 1px;
  box-sizing: border-box;
}

html {
  background-color: var(--bg);
  color: var(--fg);
}

html:has(dialog[open]) {
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  justify-content: space-between;
  margin: 0;
  min-height: 100vh;
  text-align: center;
}

body.dark {
  color-scheme: dark;
}

header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0.75rem 1.25rem 1.25rem;
}

.site-logo {
  color: var(--gray);
  display: flex;
  font-size: 1.125rem;
  font-weight: 700;
  gap: 0.25rem;
  text-decoration: inherit;
}

header :last-child {
  align-items: center;
  display: flex;
  gap: 1.25rem;
  margin-inline: auto 0;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-inline: 1.25rem;
}

footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  justify-content: center;
  margin: auto auto 0;
  max-width: 65ch;
  padding: 5rem 1.25rem 0.75rem;
}

footer div {
  display: inline-flex;
  gap: 1.25rem;
}

h1,
h2,
p {
  margin: 0;
}

h1,
h2 {
  letter-spacing: 1px;
  text-wrap: balance;
}

h2,
h3 {
  font-weight: inherit;
}

h1 {
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
  margin-block: 0.5rem 2rem;
}

p {
  line-height: 1.6;
  text-wrap: pretty;
}

pre {
  font-family: inherit;
  text-align: center;
}

small {
  font-size: 75%;
}

a,
button {
  align-items: center;
  color: var(--blue);
  display: inline-flex;
  justify-content: center;
  min-height: 2rem;
  min-width: 2rem;
}

button {
  border: none;
  background: inherit;
  cursor: pointer;
  font-size: inherit;
  padding: 0;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

label {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  font-size: 0.875rem;
  width: min(100%, 30rem);
}

input,
select {
  background-color: var(--bg);
  border-radius: 0.5rem;
  color: inherit;
  font-size: 1rem;
  max-width: 65ch;
  min-height: 2.5rem;
  padding: 0.5rem;
  width: 100%;
}

select {
  cursor: pointer;
}

dialog {
  border-radius: 1rem;
  border-style: solid;
  margin: 20vh auto;
  padding: 0;
  width: min(calc(100vw - 2.5rem), 20rem);
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.8);
}

.btn {
  background-color: var(--bg-blue);
  border-radius: 0.5rem;
  color: var(--light);
  font-size: 1.0675rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  padding: 0.75rem 1.5rem;
}

.theme-toggle-container {
  display: flex;
  font-size: 1.5rem;
  gap: 1.25rem;
}

.copyright {
  align-items: center;
  display: flex;
  gap: 0 0.25rem;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

htm-toast {
  --htm-bg: var(--fg);
  --htm-fg: var(--bg);
  line-height: 1.3;
}

.bg-gradient {
  background: var(--circle-c);
  background: radial-gradient(
    circle,
    var(--circle-c) 0%,
    var(--circle-b) 50%,
    var(--circle-a) 100%
  );
  height: 100vh;
  left: 0;
  opacity: 10%;
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: -10;
}

htm-spinner {
  margin: 5rem auto;
}

@media (prefers-contrast: more) {
  .bg-gradient {
    display: none;
  }
}

@media not all and (min-width: 400px) {
  html {
    font-size: 14px;
  }

  body {
    text-align: left;
  }

  h1,
  h2,
  p {
    width: 100%;
  }

  dialog {
    margin: 1.25rem auto;
  }
}

@media (min-width: 800px) and (min-height: 800px) {
  html {
    font-size: 18px;
  }
}
